body {
    padding-bottom: 2rem;
}

.card-img-top {
    width: 100%;
}

.searchBox{
	width: 250px; 
	height: 35px;
}

a:not([href]):not([tabindex]){
    background-color: #BBBBBB;
    color: gray;
    cursor: not-allowed;
    border-color: #BBBBBB;
}

a:not([href]):not([tabindex]):hover{
    background-color: #BBBBBB;
    color: gray;
    cursor: not-allowed;
    border-color: #BBBBBB;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.row img{
	margin-bottom: 1em;
}